<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udacity DSND Capstone">
    <meta name="author" content="Kevin DeJesus">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Song Lyric Predictor - Udacity DSND Capstone Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">

    <!--import script files needed from plotly and bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/capstone">Song Lyric Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/eda">Exploratory Data Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/mldata">ML Data</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/capstone/search">Song Lyric Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">External Links</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics">Lyrics Data</a>
              <a class="dropdown-item" href="http://www.chartlyrics.com/api.aspx">ChartLyrics API</a>
              <a class="dropdown-item" href="https://www.udacity.com">Udacity</a>
              <a class="dropdown-item" href="https://www.linkedin.com/in/kevin-dejesus/">LinkedIn Profile</a>
              <a class="dropdown-item" href="https://github.com/deg75kd">GitHub Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron -->
      <div class="jumbotron">
          <!--chart descriptions-->       
          <div class="container">
            <h1 class="display-4">Exploratory Data Analysis</h1>
            <p>First, I wanted to see which artists had the most songs in the data collection.  I was surprised to find several older artists, such as The Bee Gees, represented so well.  The top ten artists represent a fair cross-section of genres, decades and popularity.</p>
            <p>Second, I wanted to examine the song numbers by genre.  This one resulted in the first red flag.  Despite its dwindling popularity over the past decade the Rock genre is very heavily represented in our dataset.  In fact it has over 2 1/2 times as many songs as the second largest genre.  Others, meanwhile, are very poorly represented.  This was the first indication that it may be difficult to produce a good model.</p>
            <p>Next I wanted to see a breakdown of the distribution of release years.  This one turned out to be a huge cause for concern.  More than half of the songs fall within a two year period, 2006-2007.  The subjects covered by popular songs will likely have changed over the years.  With the dataset so heavily skewed it would likely not be representative of previous eras.  Another possibility is that the year data is not accurate.  In that case this may not be a big problem.</p>
            <p>Finally I was interested to see how the genres compared in terms of number of words per song.  It is well-known that some genres, like Hip-Hop, are word-heavy.  On the other hand genres like Jazz and Electronic often have few words.  While the median word count for Hip-Hop is significantly higher than all other genres, the others are closely grouped together.  That results caused me to rule out using word count as a parameter in the machine learning model.</p>
          </div>
      </div>
        
        <!--charts-->       
        <div id="charts" class="container mt-3 text-center">
                    
            <!--top two charts-->       
            <div class="row">
                <div class="col-6">
                    <div id="{{ids[0]}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids[1]}}"></div>
                </div>
            </div>

            <!--third chart-->
            <div class="row mb-6">
                <div class="col-12"> 
                    <div id="chart3">
                        <div id="{{ids[2]}}"></div>
                    </div>
                </div>
            </div>

            <!--fourth chart-->
            <div class="row mb-6">
                <div class="col-12"> 
                    <div id="chart4">
                        <div id="{{ids[3]}}"></div>
                    </div>
                </div>
            </div>
        
        </div>

    </main>

    <footer class="container">
      <p>&copy; Kevin DeJesus 2020</p>
    </footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>